@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  background-color: #393e46;
}

.wrapper h1{
  font-family: "Red Hat Display",sans-serif;
  text-align: left;
  position: relative;
  weight: 700;
  top: 30px;
  font-size: 50px;
  color: white;
  background-color: black;
}

.child-page-listing h2{
  font-family: "Raleway",sans-serif;
  color: #00adb5;
}

.child-page-listing p{
  font-family: "Raleway",sans-serif;
  color: white;
}

.child-page-listing {
  position: relative;
  top: 40px;
  left: 50px;
  padding-bottom: 60px;
}

img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.game-listing {
  position: relative;
}

.game-image {
  line-height: 0;
  overflow: hidden;
}

.game-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.game-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgb(57, 140, 179, 0.4);
  color: white;

  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-listing:hover .game-title {
  opacity: 1;
}

.game-listing:hover .game-image img {
  filter: blur(2px);
}
