* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #18181a;
}

.inner-footer{
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner-footer .logo-container{
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner-footer .logo-container img{
  width: 200px;
  height: auto;
}

.inner-footer .footer-third{
  width: calc(21.66666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner-footer .footer-third:last-child{
  margin-right: 0;
}

.inner-footer .footer-third h1{
  font-family: sans-serif;
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner-footer .footer-third a{
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}
